#terraform
terraform.tfstate
.terraform.lock.hcl
.terraform
terraform.tfvars
prox
certs

# Folders
ansible
bash/*
certificates
letsencrypt
config
*/*data*
proxmox
affine/self-host
gitea/gitea
docs
# Keys
*.pem

# Configs
nginx.conf

# ENV
*.env